<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gui.module.device.dao.AppVerisonDao">

	<select id="get" resultType="com.gui.module.device.domain.AppVerisonDO">
		select `id`,`app_version`,`app_show_version`,`apk_url`,`app_desc`,`create_time`,`update_time` from app_verison where id = #{value}
	</select>

	<select id="getUpgradeVersion" resultType="com.gui.module.device.domain.AppVerisonDO" parameterType="com.gui.module.device.domain.AppUpgradeDO">
		SELECT av.app_version,av.app_show_version,av.apk_url from app_device ad
		LEFT JOIN app_verison av ON ad.app_id=av.id
		LEFT JOIN merchant m ON ad.merchant_id=m.id
		LEFT JOIN merchant_device md ON ad.device_id=md.id

		WHERE (m.merchant_name=#{merchantId} OR md.device_sn=#{terminalId} OR type=0) AND ad.status=0
		ORDER BY av.app_version,ad.create_time DESC LIMIT 1

	</select>
	<select id="list" resultType="com.gui.module.device.domain.AppVerisonDO">
		select `id`,`app_version`,`app_show_version`,`apk_url`,`app_desc`,`create_time`,`update_time` from app_verison
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="appVersion != null and appVersion != ''"> and app_version = #{appVersion} </if>
		  		  <if test="appShowVersion != null and appShowVersion != ''"> and app_show_version = #{appShowVersion} </if>
		  		  <if test="apkUrl != null and apkUrl != ''"> and apk_url = #{apkUrl} </if>
		  		  <if test="appDesc != null and appDesc != ''"> and app_desc = #{appDesc} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from app_verison
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="appVersion != null and appVersion != ''"> and app_version = #{appVersion} </if>
		  		  <if test="appShowVersion != null and appShowVersion != ''"> and app_show_version = #{appShowVersion} </if>
		  		  <if test="apkUrl != null and apkUrl != ''"> and apk_url = #{apkUrl} </if>
		  		  <if test="appDesc != null and appDesc != ''"> and app_desc = #{appDesc} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.gui.module.device.domain.AppVerisonDO" useGeneratedKeys="true" keyProperty="id">
		insert into app_verison
		(
			`app_version`, 
			`app_show_version`, 
			`apk_url`, 
			`app_desc`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{appVersion}, 
			#{appShowVersion}, 
			#{apkUrl}, 
			#{appDesc}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.gui.module.device.domain.AppVerisonDO">
		update app_verison 
		<set>
			<if test="appVersion != null">`app_version` = #{appVersion}, </if>
			<if test="appShowVersion != null">`app_show_version` = #{appShowVersion}, </if>
			<if test="apkUrl != null">`apk_url` = #{apkUrl}, </if>
			<if test="appDesc != null">`app_desc` = #{appDesc}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from app_verison where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from app_verison where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>