<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gui.module.device.dao.MerchantDao">

	<select id="get" resultType="com.gui.module.device.domain.MerchantDO">
		select `id`,`merchant_name`,`merchant_desc`,`create_time`,`update_time` from merchant where id = #{value}
	</select>

	<select id="list" resultType="com.gui.module.device.domain.MerchantDO">
		select `id`,`merchant_name`,`merchant_desc`,`create_time`,`update_time` from merchant
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="merchantName != null and merchantName != ''"> and merchant_name = #{merchantName} </if>
		  		  <if test="merchantDesc != null and merchantDesc != ''"> and merchant_desc = #{merchantDesc} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from merchant
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="merchantName != null and merchantName != ''"> and merchant_name = #{merchantName} </if>
		  		  <if test="merchantDesc != null and merchantDesc != ''"> and merchant_desc = #{merchantDesc} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.gui.module.device.domain.MerchantDO" useGeneratedKeys="true" keyProperty="id">
		insert into merchant
		(
			`merchant_name`, 
			`merchant_desc`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{merchantName}, 
			#{merchantDesc}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.gui.module.device.domain.MerchantDO">
		update merchant 
		<set>
			<if test="merchantName != null">`merchant_name` = #{merchantName}, </if>
			<if test="merchantDesc != null">`merchant_desc` = #{merchantDesc}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from merchant where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from merchant where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>