<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gui.module.device.dao.MerchantDeviceDao">

	<select id="get" resultType="com.gui.module.device.domain.MerchantDeviceDO">
		select `id`,`merchant_id`,`device_sn`,`device_name`,`create_time`,`update_time` from merchant_device where id = #{value}
	</select>

	<select id="list" resultType="com.gui.module.device.domain.MerchantDeviceDO">
		select `id`,`merchant_id`,`device_sn`,`device_name`,`create_time`,`update_time` from merchant_device
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="merchantId != null and merchantId != ''"> and merchant_id = #{merchantId} </if>
		  		  <if test="deviceSn != null and deviceSn != ''"> and device_sn = #{deviceSn} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name = #{deviceName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from merchant_device
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="merchantId != null and merchantId != ''"> and merchant_id = #{merchantId} </if>
		  		  <if test="deviceSn != null and deviceSn != ''"> and device_sn = #{deviceSn} </if>
		  		  <if test="deviceName != null and deviceName != ''"> and device_name = #{deviceName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.gui.module.device.domain.MerchantDeviceDO" useGeneratedKeys="true" keyProperty="id">
		insert into merchant_device
		(
			`merchant_id`, 
			`device_sn`, 
			`device_name`, 
			`create_time`, 
			`update_time`
		)
		values
		(
			#{merchantId}, 
			#{deviceSn}, 
			#{deviceName}, 
			#{createTime}, 
			#{updateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.gui.module.device.domain.MerchantDeviceDO">
		update merchant_device 
		<set>
			<if test="merchantId != null">`merchant_id` = #{merchantId}, </if>
			<if test="deviceSn != null">`device_sn` = #{deviceSn}, </if>
			<if test="deviceName != null">`device_name` = #{deviceName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from merchant_device where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from merchant_device where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>