<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                                                                                                                                        <div class="form-group">
                                    <label class="col-sm-3 control-label">路线：</label>
                                    <div class="col-sm-8">
                                        <input id="busLineId" name="busLineId" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">出发路线：</label>
                                    <div class="col-sm-8">
                                        <input id="departTime" name="departTime" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">0有效 1删除：</label>
                                    <div class="col-sm-8">
                                        <input id="status" name="status" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">金额：</label>
                                    <div class="col-sm-8">
                                        <input id="amount" name="amount" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">：</label>
                                    <div class="col-sm-8">
                                        <input id="orderNumber" name="orderNumber" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">0无锁 1有锁：</label>
                                    <div class="col-sm-8">
                                        <input id="lock" name="lock" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">创建时间：</label>
                                    <div class="col-sm-8">
                                        <input id="createTime" name="createTime" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">更新时间：</label>
                                    <div class="col-sm-8">
                                        <input id="updateTime" name="updateTime" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">起点：</label>
                                    <div class="col-sm-8">
                                        <input id="startPosition" name="startPosition" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">终点：</label>
                                    <div class="col-sm-8">
                                        <input id="endPosition" name="endPosition" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                    <label class="col-sm-3 control-label">：</label>
                                    <div class="col-sm-8">
                                        <input id="boardingPosition" name="boardingPosition" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/bus/time/add.js">
</script>
</body>
</html>
