<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">选择APK：</label>

                            <div class="col-sm-8">
                                <select id="appId" name="appId" data-placeholder="选择APK"
                                        class="form-control chosen-select"
                                        tabindex="2" style="width: 100%">
                                    <option value="">选择APK</option>
                                </select>
                            </div>


                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">升级对象：</label>
                            <div class="col-sm-8">
                                <label><input name="type" type="radio" value="0"/>全部升级 </label>
                                <label><input name="type" type="radio" value="1"/>商户升级 </label>
                                <label><input name="type" type="radio" value="2"/>单台设备升级 </label>
                            </div>
                        </div>
                        <div id="merchantDiv" class="form-group">
                            <label class="col-sm-3 control-label">选择商户：</label>
                            <div class="col-sm-8">
                                <select id="merchantId" name="merchantId" data-placeholder="选择商户"
                                        class="form-control chosen-select"
                                        tabindex="2" style="width: 100%">
                                    <option value="">选择商户</option>
                                </select>
                            </div>
                        </div>
                        <div id="deviceDiv" class="form-group">
                            <label class="col-sm-3 control-label">选择设备：</label>
                            <div class="col-sm-8">
                                <select id="deviceId" name="deviceId" data-placeholder="选择设备"
                                        class="form-control chosen-select"
                                        tabindex="2" style="width: 100%">
                                    <option value="">选择设备</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <label><input name="status" type="radio" value="0"/>生效 </label>
                                <label><input name="status" type="radio" value="1"/>失效 </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/device/appDevice/add.js">
</script>
</body>
</html>
