<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gui.module.bus.dao.OrderStatisticsDao">

    <select id="get" resultType="com.gui.module.bus.domain.OrderStatisticsDO">
		select `id`,`total_amount`,`cancel_count`,`pay_count`,`wait_pay_count`,`statistics_day`,`create_time`,`update_time` from bus_order_statistics where id = #{value}
	</select>

    <select id="list" resultType="com.gui.module.bus.domain.OrderStatisticsDO">
        select `id`,`total_amount`,`cancel_count`,`pay_count`,`wait_pay_count`,`statistics_day`,`create_time`,`update_time`        from bus_order_statistics
        <where>
                            <if test="id != null and id != ''">and id =
                    #{id}
                </if>
                            <if test="totalAmount != null and totalAmount != ''">and total_amount =
                    #{totalAmount}
                </if>
                            <if test="cancelCount != null and cancelCount != ''">and cancel_count =
                    #{cancelCount}
                </if>
                            <if test="payCount != null and payCount != ''">and pay_count =
                    #{payCount}
                </if>
                            <if test="waitPayCount != null and waitPayCount != ''">and wait_pay_count =
                    #{waitPayCount}
                </if>
                            <if test="statisticsDay != null and statisticsDay != ''">and statistics_day =
                    #{statisticsDay}
                </if>
                            <if test="createTime != null and createTime != ''">and create_time =
                    #{createTime}
                </if>
                            <if test="updateTime != null and updateTime != ''">and update_time =
                    #{updateTime}
                </if>
                    </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from bus_order_statistics
        <where>
                            <if test="id != null and id != ''">and id =
                    #{id}
                </if>
                            <if test="totalAmount != null and totalAmount != ''">and total_amount =
                    #{totalAmount}
                </if>
                            <if test="cancelCount != null and cancelCount != ''">and cancel_count =
                    #{cancelCount}
                </if>
                            <if test="payCount != null and payCount != ''">and pay_count =
                    #{payCount}
                </if>
                            <if test="waitPayCount != null and waitPayCount != ''">and wait_pay_count =
                    #{waitPayCount}
                </if>
                            <if test="statisticsDay != null and statisticsDay != ''">and statistics_day =
                    #{statisticsDay}
                </if>
                            <if test="createTime != null and createTime != ''">and create_time =
                    #{createTime}
                </if>
                            <if test="updateTime != null and updateTime != ''">and update_time =
                    #{updateTime}
                </if>
                    </where>
    </select>

    <insert id="save" parameterType="com.gui.module.bus.domain.OrderStatisticsDO"            useGeneratedKeys="true" keyProperty="id">
		insert into bus_order_statistics
		(
                    			`total_amount`, 
                    			`cancel_count`, 
                    			`pay_count`, 
                    			`wait_pay_count`, 
                    			`statistics_day`, 
                    			`create_time`, 
                    			`update_time`
            		)
		values
		(
                    			#{totalAmount}, 
                    			#{cancelCount}, 
                    			#{payCount}, 
                    			#{waitPayCount}, 
                    			#{statisticsDay}, 
                    			#{createTime}, 
                    			#{updateTime}
            		)
	</insert>

    <update id="update" parameterType="com.gui.module.bus.domain.OrderStatisticsDO">
        update bus_order_statistics
        <set>
                                                                            <if test="totalAmount != null">`total_amount` = #{totalAmount
                        }, </if>
                                                                <if test="cancelCount != null">`cancel_count` = #{cancelCount
                        }, </if>
                                                                <if test="payCount != null">`pay_count` = #{payCount
                        }, </if>
                                                                <if test="waitPayCount != null">`wait_pay_count` = #{waitPayCount
                        }, </if>
                                                                <if test="statisticsDay != null">`statistics_day` = #{statisticsDay
                        }, </if>
                                                                <if test="createTime != null">`create_time` = #{createTime
                        }, </if>
                                                                <if test="updateTime != null">`update_time` = #{updateTime
                        }</if>
                                    </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from bus_order_statistics where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from bus_order_statistics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>