package ${package}.controller;

import java.util.List;
import java.util.Map;

import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.ResponseBody;

import com.gui.base.BasePageResponse;
import com.gui.base.BaseResponse;

import ${package}.domain.${className}DO;
import ${package}.service.${className}Service;
import com.gui.module.common.utils.Query;
import org.springframework.stereotype.Controller;
import com.gui.utils.ResponseUtils;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Controller
@RequestMapping("/${pathName}/${classname}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    @GetMapping()
    @RequiresPermissions("${pathName}:${classname}:${classname}")
    String ${className}() {
        return "${pathName}/${classname}/${classname}";
    }

    @ResponseBody
    @GetMapping("/list")
    @RequiresPermissions("${pathName}:${classname}:${classname}")
    public BasePageResponse list(@RequestParam Map<String, Object> params) {
        //查询列表数据
        Query query = new Query(params);
        List<${className}DO> ${classname}List = ${classname}Service.list(query);
        int total = ${classname}Service.count(query);
        return ResponseUtils.buildPageSuccess(total, ${classname}List);
    }

    @GetMapping("/add")
    @RequiresPermissions("${pathName}:${classname}:add")
    String add() {
        return "${pathName}/${classname}/add";
    }

    @GetMapping("/edit/{${pk.attrname}}")
    @RequiresPermissions("${pathName}:${classname}:edit")
    String edit(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}, Model model) {
            ${className}DO ${classname} = ${classname}Service.get(${pk.attrname});
        model.addAttribute("${classname}", ${classname});
        return "${pathName}/${classname}/edit";
    }

    /**
     * 保存
     */
    @ResponseBody
    @PostMapping("/save")
    @RequiresPermissions("${pathName}:${classname}:add")
    public BaseResponse<Void> save( ${className}DO ${classname}) {
        if (${classname}Service.save(${classname}) > 0) {
            return ResponseUtils.success();
        }
        return ResponseUtils.fail();
    }

    /**
     * 修改
     */
    @ResponseBody
    @RequestMapping("/update")
    @RequiresPermissions("${pathName}:${classname}:edit")
    public BaseResponse<Void> update( ${className}DO ${classname}) {
            ${classname}Service.update(${classname});
        return ResponseUtils.success();
    }

    /**
     * 删除
     */
    @PostMapping("/remove")
    @ResponseBody
    @RequiresPermissions("${pathName}:${classname}:remove")
    public BaseResponse<Void> remove( ${pk.attrType} ${pk.attrname}) {
        if (${classname}Service.remove(${pk.attrname}) > 0) {
			return ResponseUtils.success();
        }
		return ResponseUtils.fail();
    }

    /**
     * 删除
     */
    @PostMapping("/batchRemove")
    @ResponseBody
    @RequiresPermissions("${pathName}:${classname}:batchRemove")
    public BaseResponse<Void> remove(@RequestParam("ids[]") ${pk.attrType}[] ${pk.attrname}s) {
            ${classname}Service.batchRemove(${pk.attrname}s);
		return ResponseUtils.success();
    }

}
